* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  font-family: sans-serif;
  color: #ffff;
  background-size: cover;
  transition: background-image 0.5s ease-in-out;
  background-image: url(../img/img.jpg);
}
.background1 {
  background-image: url('../img/img.jpg');
}

.background2 {
  background-image: url('../img/background_two.jpg');
}

.background3 {
  background-image: url('../img/background.jpg');
}


.first_page {
  display: block;
  border: 2px solid rgb(255, 255, 255, .2);
  backdrop-filter: blur(3px);
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 179px auto;
  width: 400px;
  height: 300px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgb(0, 0, 0, .2);
}
.submit {
  border: 1px solid red;
  width: 190px;
  height: 45px;
  margin-top: 30px;
  border: none;
  font-family: sans-serif;
  transition: all 0.5s;
  /* outline: transparent; */
  /* background: transparent; */
}
.submit:hover{
  background-color: rgb(4, 255, 0);
  border-radius: 10px;
}
.second_page {
  display: none;
}
.second_content {
  /* background-color: rgb(70, 71, 72); */
  backdrop-filter: blur(15px);
  background: transparent;
  border-radius: 20px;
  box-shadow: 0px 0px 50px #5b5757;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 400px;
  height: 300px;
  margin: 204px auto;
}
.word {
}
.row{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgb(145, 143, 143);
  border-radius: 30px;
  margin-bottom: 25px;
  margin-top: 20px;
}
.answer {
  flex: 1;
  border-radius: 20px;
  border: none;
  outline: none;
  padding-left: 20px;
  margin-top: 10px;
  background: transparent;
  font-weight: 14px;
  padding-bottom: 9px;
}
::placeholder {
  color: #c7c3c3;
}
.submit_two {
  padding: 10px 20px;
  /* margin-top: 10px; */
  background-color: rgb(7, 222, 72);
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-family: sans-serif;
  color: #ffff;
}
.submit_two:hover{
  opacity: 0.5;
}
.submit_two img{
  
}
.end {
  width: 190px;
  height: 45px;
  background-color: rgb(51, 145, 222);
  border-radius: 10px;
  letter-spacing: 2px;
  cursor: pointer;
  border: none;
  margin-top: 10px;
  color: #ffff;
}
.end:hover {
  opacity: 0.5;
}
.input_btn_div {
  /* display: flex; */
}
.result_page {
  width: 400px;
  height: 400px;
  backdrop-filter: blur(15px);
  background: transparent;
  /* background: #000; */
  display: none;
  text-align: center;
  margin: 160px auto;
  padding-top: 85px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px black;
}
.result_firs_txt{
  font-size: 40px;
  font-family: sans-serif;
}
.result_last_txt{
  margin-top: 10px;
  font-size: 40px;
  font-family: sans-serif;
}
.true{
  font-size: 50px;
  margin-top: 30px;
}
.return_btn{
  margin-top: 40px;
  cursor: pointer;
}



.heading_part_site {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10px;
}
.dowlod_btn {
  border-radius: 50%;
  padding: 10px 10px;
  border: none;
}
.rotate_btn{
  border-radius: 50%;
  padding: 11px 10px 10px;
  background-color:  #1796cc;
  color: #ffff;
  border: none;
}


.dowlod_page{
  display: none;
  padding: 50px 30px 30px;
  margin: 79px auto;
}
#add_input {
  padding-left: 15px;
  padding-top: 10px;
  border-radius: 10px;
  background: #5b5757;
  font-family: sans-serif;
  letter-spacing: 1px;
  display: block;
  resize: none;
  margin: 0 auto;
  margin-bottom: 30px;
}
.add_btn {
  margin-left: 100px;
  padding: 15px 20px;
  width: 140px;
  border-radius: 5px;
  background: rgb(12, 184, 49);
  border: none;
}
.add_btn:active{
  opacity: 0.5;
}